/* Css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
html{
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

h1 {
    font-size: 2.5rem;
}

section {
    position: relative;
}

img {
    width: 650px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Utilities */
.full-page {
    height: 100vh;
    color: #fff;
}

.full-page .content {
    max-width: 675px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}

#light-shoe {
    background-color: red;
}

#light-shoe h1{
    color: yellow;
}

#sneaker {
    background-color: green;
}

#sneaker h1{
    color: yellow;
}

#converse {
    background-color: yellow;
}

#converse h1 {
    color: green;
}

.top-right-menu {
    position: fixed;
    top: 30px;
    right: 40px;
}

nav li {
    float: left;
}

.top-right-menu a{
    color: #000;
    background-color: #fff;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
